<header>
	<h1>Sign in</h1>
</header>

<%= simple_form_for :session, session: { email: 'email@email.com', password: 'password' }, url: session_path do |f| %>
<%= f.input :email %>
<%= f.input :password %>

<%= f.button :submit, 'Sign in', class: "btn-primary" %>
<% end %>
